html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFF;
}

.has-pb0 {
    padding-bottom: 0;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
